.external-container {
  display: flex;  
  flex-direction: row;
  padding: 8px 64px;
  height: 100%;
  width: 100%;
}

.news-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
}
