.news-card-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 8px;
}

.news-card-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.news-card-informations-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  z-index: 1;
}

.news-card-title-container {
}

.news-card-author-container {
  font-size: 13px;
}

.news-card-category-container {
  font-size: 12px;
}
.news-card-read-more-container {
  padding-top: 8px;
  font-size: 18px;
}
